
<div *ngIf="showDropDown" class="dropdown-container">
  <ul>
    <li (click)="sortingBy($event, 1)"><div><i class="fa fa-sort-amount-asc fa-float"></i> &nbsp;&nbsp;Sort Ascending</div></li>
    <li (click)="sortingBy($event, -1)"><div><i class="fa fa-sort-amount-desc fa-float"></i> &nbsp;&nbsp;Sort Descending</div></li>
    <li (click)="hideColumn($event, idx)"><div><i class="fa fa-times fa-float"></i> Hide Column</div></li>
    {{ showCol }}
  </ul>
</div>

<span (click)="toggleDropdown($event)"><i class="fa fa-angle-down angle-custom" aria-hidden="true"></i></span>

