/* bottom column select dropdown */
.bottom-select {
    position: absolute;
    bottom: 12px;
    left: 12px;
    font-weight: bold;
  }
  
  /* text input box for column search */
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    padding: 5px;
  }
  
  /*
   * excel/pdf print icons
   */
  .fa-custom {
    position: absolute;
    top: 14px;
    right: 12px;
    font-size: 1.8em;
  }
  
  .fa-custom-excel {
    right: 45px;
  }
  
  .fa-custom:hover {
    opacity: 0.6;
    transition-duration: 2s;
    cursor: pointer;
  }
  